<section>
    <h2>Welcome to CSE Motors!</h2>
    <!-- <%- messages() %> -->
    <div id="banner">
        <div id="description">
            <h3>DMC Delorean</h3>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button id="own">Own Today</button>
        </div>

        <div id="hero-image">
            <img src="/images/vehicles/delorean.jpg" alt="delorean car" loading="lazy">
        </div>

    </div>

</section>

<section id="review-and-upgrades">
    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div id="upgrades">
        <h2>Dolarean Upgrades</h2>
        <div class="upgrade-types">
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="flux capacitor" loading="lazy">
                <figcaption><a href="#">Flux Capacitor</a></figcaption>
            </figure>

            <figure>
                <img src="/images/upgrades/flame.jpg" alt="flame decals" loading="lazy">
                <figcaption><a href="#">Flame Decals</a></figcaption>
            </figure>
        </div>

        <div class="upgrade-types">
            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="bumber sticker" loading="lazy">
                <figcaption><a href="#">Bumber Sticker</a></figcaption>
            </figure>

            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="hub caps" loading="lazy">
                <figcaption><a href="#">Hub Caps</a></figcaption>
            </figure>
        </div>
    </div>
</section>