/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --paragraph-color: #22211f;
  --body-font: 'Roboto Slab', sans-serif;
  --secondary-background-color: #32021F;
  --secondary-paragraph-color: rgb(51, 51, 51);
}

/*********** Mobile view ************/

body {
  max-width: 980px;
  margin: 0 auto;
  font-family: var(--body-font);
  padding: 10px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
}

#top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#top-header a {
  text-decoration: none;
  color: var(--paragraph-color);
}

.siteName {
  font-size: 30px;
  font-weight: 700;
}

nav {
  background-color: var(--paragraph-color);
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.9em;
}

nav ul a {
  text-decoration: none;
  color: white;

}

#banner {
  position: relative;
}

#description {
  position: absolute;
  color: var(--secondary-background-color);
  background-color: rgba(255, 255, 255, 0.7);
}

#description ul {
  list-style: none;
  margin-left: -40px;
  margin-top: -20px;
  margin-bottom: 0px;
}

#hero-image img {
  width: 350px;
}

#own {
  background-color: #007BFF;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#own:hover {
  background-color: var(--paragraph-color);
  color: aliceblue;
}

#reviews ul li {
  margin-bottom: 10px;
  opacity: 0.95;
  font-size: 0.9rem;
  margin-left: -20px;
}

.upgrade-types {
  display: flex;
  margin-left: -40px;
}

.upgrade-types figure img {
  background-color: #007BFF;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}

.upgrade-types figcaption {
  text-align: center;
}

#inv-title {
  text-align: center;
}

#inv-display {
  list-style: none;
  text-align: center;
  max-width: 100%;
}

#inv-display li {
  display: block;
  border: 0.5px solid #a7a298;
  margin: 20px 100px;
  border-radius: 10px;
}

#inv-display img {
  border-radius: 10px;
  width: 100%;
}

#inv-display hr {
  height: 5px;
  background-color: #22211f;
}

#inv-display a {
  font-size: 0.6em;
}

.namePrice {
  margin-bottom: 20px;
}

#vehicle-detail img {
  max-width: 100%;
}

#vehicle-detail span {
  font-weight: 600;
}

@media screen and (min-width: 768px) {

  html {
    background-image: url('/images/site/checkerboard.jpg');
    background-size: 25%
  }

  body {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid #007BFF;
    border-radius: 10px;
  }

  h2 {
    font-size: 1.8rem;
  }

  nav ul {
    font-size: 1.2rem;
    margin-left: 100px;
    margin-right: 100px;
  }

  #banner {
    margin-left: 40px;
  }

  #description {
    font-size: 1.5rem;
  }

  #description ul {
    margin-bottom: 30px;
  }

  #own {
    width: 180px;
    font-size: 1.1rem;
  }

  #hero-image img {
    width: 600px;
  }

  #reviews ul li {
    margin-bottom: 25px;
    opacity: 1;
    font-size: 1.2rem;
  }

  .upgrade-types figure img {
    padding-left: 40px;
    padding-right: 40px;
  }

  #review-and-upgrades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: start;
  }

  #upgrades {
    order: 1;
  }

  #reviews {
    order: 2;
  }

  #inv-title {
    text-align: left;
    margin-left: 40px;
  }

  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  #inv-display li {
    margin: 0 auto;

  }

  #inv-display img {
    width: 200px;
    height: 100px;
  }

  #inv-display a {
    font-size: 0.6em;
  }

  #vehicle-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

  }


}