<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>

            <ul id="vehicle-mangement">
                <li><a href="/inv/addClassification">Add New Classification</a></li>
                <li><a href="/inv/addInventory">Add Vehicle</a></li>
            </ul>